ul, li {
    list-style-type: none;
}
a {
    text-decoration: none;
}
button{
    cursor: pointer;
    border: none;
    outline: none;
}
body{
    font-family: Roboto, sans-serif;

}
h1, h2, h3, p {
    margin-top: 0;
    margin-bottom: 0;
}
ol, ul{
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}
img{
    display: block;
}
address{
    font-style: normal;
}
/* ===== Header styles ===== */ /* */
.container {
    max-width: 1160px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}
.page-header{
    padding-top: 24px;
    padding-bottom: 24px;
}
.page-navigation{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.page-logo{
    color: var(--IRIS, #4D5AE5);
font-family: Raleway;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 21px; /* 116.667% */
letter-spacing: 0.54px;
text-transform: uppercase;
}
.page-logo-span{
    color: var(--NAVY-BLUE, #2E2F42);
font-family: Raleway;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 21px; /* 116.667% */
letter-spacing: 0.54px;
text-transform: uppercase;
}
.menu{
    display: flex;
    column-gap: 40px;
}

.menu-link{
    color: var(--NAVY-BLUE, #2E2F42);

font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 24px; /* 150% */
letter-spacing: 0.32px;
}
.address-list{
    display: flex;
    column-gap: 40px;
}

.address-item a{
    color:#434455;
/* Body */
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 150% */
letter-spacing: 0.32px;
}
/* ===== /Header styles ===== */
/* ===== Main styles ===== */

/* ===== Hero img styles ===== */
.hero-img{
    padding-top: 188px;
    background: var(--NAVY-BLUE, #2E2F42);
    padding-bottom: 188px;
}
.hero-title{
    
    margin-left: auto;
    margin-right: auto;
    width: 496px;
    color: var(--WHITE, #FFF);
text-align: center;
/* Header 1 */
font-family: Roboto;
font-size: 56px;
font-style: normal;
font-weight: 700;
line-height: 60px; /* 107.143% */
letter-spacing: 1.12px;
padding-bottom: 24px;
}
.hero-btn {
    display: block;
    width: 170px;
    margin-top: 24px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 4px;
background: var(--IRIS, #4D5AE5);
box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
padding: 16px 32px;

}
.hero-btn-name{
    color: var(--WHITE, #FFF);

/* Button Text */
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 24px; /* 150% */
letter-spacing: 0.64px;
}

/* ===== /Hero img styles ===== */
/* ===== Advantages styles ===== */
.advantages-section{
    padding-top: 120px;
    padding-bottom: 120px;
}
.advantages-list{
    display: flex;
    justify-content: space-between;
}
.advantages-list-item{
    width: 264px;

}
.item-name{
    color: var(--NAVY-BLUE, #2E2F42);
/* Header 3 */
font-family: Roboto;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 24px; /* 120% */
letter-spacing: 0.4px;
padding-bottom: 4px;
}
.item-text{
    color: var(--SLATE, #434455);
/* Body */
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 150% */
letter-spacing: 0.32px;
padding-top: 4px;
}
/* ===== /Advantages styles ===== */

/* ===== team-section styles ===== */
.team-section{
    padding-top: 120px;
    padding-bottom: 120px;
    background: var(--CLOUD, #F4F4FD);
}
.team-title {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 36px;
    text-align: center;
    color: var(--NAVY-BLUE, #2E2F42);

/* Header 2 */
font-family: Roboto;
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: 40px; /* 111.111% */
letter-spacing: 0.72px;
}

.team-list{
    display: flex;
    justify-content: space-between;
    padding-top: 32px;
}
.team-list-item{
    border-radius: 0 0 4px 4px;
    background: var(--WHITE, #FFF);
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
    padding-bottom: 32px;
}
.team-list-item img{
     margin-bottom: 32px;

}
.member-name{
    text-align: center;
    width: 264px;
    margin-bottom: 8px;
    color: var(--NAVY-BLUE, #2E2F42);
font-family: Roboto;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 24px; /* 120% */
letter-spacing: 0.4px;

}
.member-position{
    width: 264px;
    text-align: center;
color: var(--SLATE, #434455);
text-align: center;

/* Body */
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 150% */
letter-spacing: 0.32px;
}

/* ===== /team-section styles ===== */

/* ===== /Main styles ===== */

